/* imports */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* variables */
:root {
    --white: #fff;
    --black: #000;
    --primary: #2a2a31;
    --accent: #0ec43a;
    --grey: grey;

}

* {
    margin: 0;
    padding: 0;
}

/* styles */
body {
    font-family: "Roboto", sans-serif;
}

h4 a {
    text-decoration: none;
    color: var(--accent);
}

h3 {
    color: var(--accent);
}

.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.navbar-inline {
    list-style: none;
    overflow: hidden;
    background-color: var(--primary);
}

li {
    float: right;
}

li a {
    text-decoration: none;
    text-align: center;
    color: var(--white);
    display: block;
    transition: 0.3s;
    padding: 15px 10px;
}

a.nav-item {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
}

a.nav-item:hover {
    background-color: var(--accent);
}

.active {
    background-color: var(--accent);
}

.nav-logo {
    margin-top: 5px;
    margin-left: 10px;
}

.nav-brand {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.horizontal-spacing {
    height: 20px;
}

/* card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    word-wrap: break-word;
    transition: 500ms ease-in-out;
}

.card-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.card:hover {
    box-shadow: 1px 8px 20px var(--grey);
}

.card-img {
    width: 200px;
    border-radius: 5px 5px 0 0;
}

.card-body {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.headings {
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.date {
    font-style: italic;
    color: #bbb;
}

.card-img-full {
    height: 350px;
    width: 501px;
    border-radius: 5px 5px 0 0;
}

/* footer */
.footer-basic {
    padding: 20px 0;
    background-color: var(--primary);
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: var(--white);
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    font-size: 14px;
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social > a:hover {
    opacity: 0.9;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-icon {
    width: 40px;
    border-radius: 50%;
}

.footer-title {
    font-weight: lighter;
    color: var(--white);
    opacity: 1;
}

.visit-res {
    margin-top: 8px;
}

.btn {
    padding: 3px 3px;
    margin-bottom: 8px;
    border-radius: 30px;
    border: 1px solid var(--black);
}
