/* imports */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* variables */
:root {
    --white: #fff;
    --black: #000;
    --primary: #2a2a31;
    --accent: #0ec43a;
}

* {
    margin: 0;
    padding: 0;
}

/* styles */
body {
    font-family: "Roboto", sans-serif;
}

.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    overflow: hidden;
    background-color: var(--primary);
}

li {
    float: right;
}

li a {
    text-decoration: none;
    text-align: center;
    color: var(--white);
    display: block;
    transition: 0.3s;
    padding: 15px 10px;
}

a.nav-item {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
}

a.nav-item:hover {
    background-color: var(--accent);
}

.active {
    background-color: var(--accent);
}

.nav-logo {
    margin-top: 5px;
    margin-left: 10px;
}

.nav-brand {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.horizontal-spacing {
    height: 20px;
}

/* card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    word-wrap: break-word;
    transition: 500ms ease-in-out;
}

.card-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.card:hover {
    box-shadow: 1px 8px 20px grey;
}

.card-img {
    width: 200px;
    border-radius: 5px 5px 0 0;
}

.card-body {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.headings {
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.date {
    font-style: italic;
    color: #bbb;
}

.card-img-full {
    width: 501px;
    border-radius: 5px 5px 0 0;
}
